body {
  background: url("./img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Poppins", serif;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: #ffffff33;
  backdrop-filter: blur(5px);
  border-radius: 20px;
  padding: 40px 20px;
  width: 90%;
  max-width: 800px;
  margin: 50px auto;
  box-shadow: 0 8px 32px #00000040;
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.game-title {
  font-weight: 300;
  color: #615b4f;
  font-size: 2.5rem;
  text-align: center;
}

.container {
  background-color: #ffffff26;
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 16px #00000033;
  width: 100%;
  display: flex;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px 0;
}

.player-container {
  margin: 15px;
}

.buttons-container {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 25px;
}

.buttons-container button {
  font-size: 40px;
  border: none;
  background-color: #ffffff4d;
  box-shadow: 0 4px 8px #00000026;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

#rock-button img,
#paper-button img,
#scissors-button img {
  width: 80px;
  height: 80px;
  padding: 5px;
}

.buttons-container button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px #0000004d;
}

.player-scores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
}

#you-selectionDisplay img,
#bot-selectionDisplay img {
  width: 100%;
  max-width: 60px;
  height: auto;
}

#you-score,
#bot-score {
  font-weight: 200;
  color: #615b4f;
  font-size: 25px;
  text-align: center;
}

.player-scores p {
  align-self: center;
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
}

#scores {
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
  text-align: center;
}

.game-section h3 {
  margin-top: 20px;
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
  text-align: center;
}

.you-title,
.bot-title {
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  color: #615b4f;
}

.container-reset {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#button-reset {
  width: 70px;
  height: 50px;
  font-size: 14px;
  border: none;
  background-color: #ffffff4d;
  box-shadow: 0 4px 8px #00000026;
  border-radius: 5px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
  color: #615b4f;
}

.score-spacer {
  margin-left: auto;
  margin-right: auto;
}
