body {
  background: url("./img/background.jpg") no-repeat center center fixed;
  background-size: cover;
  font-family: "Poppins", serif;
  padding: 0;
  margin: 0;
}

.main-container {
  background-color: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(5px);
  border-radius: 20px;
  /* padding: 40px 20px; */
  padding: 20px;
  width: 90%;
  max-width: 500px;
  margin: 20px auto;
  box-shadow: 0 8px 32px rgba(0, 0, 0, 0.251);
}

header {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.game-title {
  font-weight: 300;
  color: #615b4f;
  font-size: 32px;
  text-align: center;
}

.container {
  background-color: rgba(255, 255, 255, 0.3);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  border-radius: 20px;
  padding: 20px 0;
}

.player-container {
  margin: 15px;
  text-align: center;
}

.buttons-container {
  display: flex;
  flex-wrap: wrap;
  gap: 15px;
  justify-content: center;
  margin-top: 20px;
}

.buttons-container button {
  width: 100px;
  height: 100px;
  /* font-size: 40px; */
  border: none;
  background-color: rgba(255, 255, 255, 0.302);
  box-shadow: 0 4px 8px #00000026;
  border-radius: 10px;
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

#rock-button img,
#paper-button img,
#scissors-button img {
  width: 60px;
  height: 60px;
  /* padding: 5px; */
}

.buttons-container button:hover {
  transform: translateY(-4px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.302);
}

.player-scores {
  display: flex;
  justify-content: space-between;
  width: 100%;
  /* padding: 10px 0; */
}

#you-selectionDisplay img,
#bot-selectionDisplay img {
  width: 50;
  max-width: 60px;
  height: auto;
}

.you-score,
.bot-score {
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
  text-align: center;
}

#scores {
  font-weight: 200;
  color: #615b4f;
  font-size: 18px;
  text-align: center;
}

.player-scores p {
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
}

.game-section h3 {
  margin-top: 20px;
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
  text-align: center;
}

.you-title,
.bot-title {
  font-weight: 200;
  color: #615b4f;
  font-size: 20px;
  text-align: center;
  padding-bottom: 10px;
  color: #615b4f;
}

.container-reset {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

#button-reset {
  width: 100px;
  height: 40px;
  font-size: 14px;
  border: none;
  background-color: #ffffff4d;
  box-shadow: 0 4px 8px #00000026;
  border-radius: 5px;
  /* transition: transform 0.2s, box-shadow 0.2s; */
  cursor: pointer;
  color: #615b4f;
}

.score-spacer {
  margin-left: auto;
  margin-right: auto;
}

@media screen and (min-width: 768px) {
  .main-container {
    padding: 40px;
    max-width: 800px;
  }

  .game-title {
    font-size: 40px;
  }

  .buttons-container {
    gap: 20px;
  }

  buttons-container button {
    width: 120px;
    height: 120px;
  }

  h4 {
    font-weight: 200;
    color: #615b4f;
    font-size: 25px;
    text-align: center;
  }

  .you-score,
  .bot-score {
    font-weight: 200;
    color: #615b4f;
    font-size: 30px;
    text-align: center;
  }

  #you-selectionDisplay img,
  #bot-selectionDisplay img {
    width: 50;
    max-width: 100px;
    height: auto;
  }

  #button-reset {
    width: 120px;
    height: 50px;
    font-size: 20px;
  }
}
